# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Build
build/
dist/
wheelhouse/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs/Artifacts
*.log
transcriber.debug.log

.testmondata
.testmondata-shm
.testmondata-wal
